<!DOCTYPE html>
<html>
  <head>
    <title>Cloudant Intro</title>
  </head>
  <body>
    <% if (cloudantConnected) { %>
    Connected to Cloudant!
    <% } else { %>
    Unable to connect to Cloudant :(
    <% } %>
  </body>
</html>